@model ShoppingCartViewModel

<div class="container">
    <div class="row">

        <div>
            <img src="~/images/Full-Cart-icon.png" width="30" height="35" alt="Full Cart icon" />
            <h4>Your Shopping Cart : </h4>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Food</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
                {
                    <tr>
                        <td class="text-center">@item.Quantity</td>
                        <td class="text-left">@item.Food.Name</td>
                        <td class="text-right">@item.Food.Price.ToString("c")</td>
                        <td class="text-right">@((item.Quantity * item.Food.Price).ToString("c"))</td>
                        <td class="text-center">
                            <a asp-controller="ShoppingCart" asp-action="RemoveItemFromShoppingCart"
                               asp-route-foodId="@item.Food.FoodId">
                                <img src="~/images/delete.png" width="20px" height="20px" alt="Delete" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total:</td>
                    <td class="text-right">@Model.ShoppingCartTotal.ToString("c")</td>
                </tr>
            </tfoot>
        </table>

        <div class="text-right">
            <div class="btn-group">
                <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Finish Order</a>
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary" asp-controller="Food" asp-action="List">Continue Shopping</a>
            </div>
        </div>
    </div>
</div>