@model SalesFood.Models.Food

@{
    ViewData["Title"] = "Details";
}

<h3>Details</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LongDescription)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ImageThumbnailUrl)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ImageThumbnailUrl)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IsFavoriteFood)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IsFavoriteFood)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.InStock)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.InStock)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
</div>
<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FoodId">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-info">Back</a>
</div>