@model ReflectionIT.Mvc.Paging.PagingList<SalesFood.Models.Food>

@{
    ViewData["Title"] = "Index";
}

<h3>Foods</h3>

<form method="get" class="form-inline">
    <input name="filter" class="form-control" placeholder="Filter" value="@Model.RouteValue["Filter"]" />
    <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search" aria-hidden="true">Search</span>
    </button>
</form>

Total records : @Model.TotalRecordCount

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShortDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsFavoriteFood)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InStock)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShortDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsFavoriteFood)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InStock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.FoodId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.FoodId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.FoodId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>